@import url('https://fonts.googleapis.com/css2?family=Alef&family=Modak&family=Poor+Story&display=swap');

div {
    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
}

.search-header{
    padding-left: 24px;
    padding-top: 24px;
}

.search-result {
    width: 360px;
    height: 440px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.cafe {
    position: absolute;
    transition: all 0.5s ease 0s;
}

.link-button {
    font-family: 'Modak', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    text-shadow: -1px 0 #524F4A, 0 1px #524F4A, 1px 0 #524F4A, 0 -1px #524F4A;

    padding: 10px;
}

.link-button-wrapper {
    position: absolute;
    bottom: 16px;
    right: 20px;
    z-index: 1;
}

