@import url('https://fonts.googleapis.com/css2?family=Alef&family=Modak&family=Poor+Story&display=swap');

.detail-close {
    color: #ffffff;
}

.detail-button {
    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
}